# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\编程\python\3D_reconstruction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
